*{
  margin: 0;
  padding: 0;
 
}

h1{
  font-size: 3rem;
  text-shadow: #FC0 1px 0 10px;
}

section{
  width: 80%;
  height: 100vh;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}

#main-paras{
  padding: 5px;
  color: rgb(239, 232, 227);
  background-color: crimson;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 2rem;
}


.main-form{
  font-size: 2rem;
  gap: 1rem;
  display: flex;
}

#amount{
  width: 2.5rem;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.btn{
  border-radius: 5px;
  color: white;
  background-color: blue;
  border: none;
  padding: 5px;
}